.marquee {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    animation: marquee 5s linear infinite;
  }
  
  .marquee.right {
    animation-direction: reverse;
  }
  
  @keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  